<section class="banner">
        <div class="banner-inner">
        </div>
    </section>
    <section class="one-fourth" id="html">
        <td><i class="fa fa-html5"></i></td>
        <h3>HTML5</h3>
    </section>
    <section class="one-fourth" id="css">
        <td><i class="fa fa-css3"></i></td>
        <h3>CSS</h3>
    </section>
    <section class="one-fourth" id="seo">
        <td><i class="fa fa-search"></i></td>
        <h3>SEO</h3>
    </section>
    <section class="one-fourth" id="social">
        <td><i class="fa fa-user"></i></td>
        <h3>SOCIAL</h3>
    </section>
    <!-- end of four column section-->
    <section class="inner-wrapper">
        <article id="tablet">
            <img src="app/img/hand_ipad.png">
        </article>
        <aside id="tablet2">
            <h2>MOBILE.TABLET.DESKTOP</h2>
            <p class="paragraphs">
                text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make
                a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing
            </p>
        </aside>
    </section>
    <section class="inner-wrapper-2">
        <article id="mobile">
            <h2>ACROSS EACH DEVICE</h2>
            <p class="paragraphs">
                text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make
                a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially
                unchanged.
            </p>
        </article>
        <aside id="mobile2">
            <img src="app/img/hand_mobile.png">
        </aside>
    </section>
    <section class="inner-wrapper">
        <article id="desktop2">
            <img src="app/img/desktop.png">
        </article>
        <aside id="desktop">
            <h2>DESKTOP</h2>
            <p class="paragraphs">
                text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make
                a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing
            </p>
        </aside>
    </section>
    <!-- end of 2 columner section -->
    <section class="inner-wrapper-3">
        <section class="one-third" id="google">
            <h3>GOOGLE SEARCH</h3>
            <p class="paragraphs">
                text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make
                a type specimen book. It has survived not only five centuries,
                but also the leap.
            </p>
        </section>
        <section class="one-third" id="marketing">
            <h3>MARKETING</h3>
            <p class="paragraphs">
                text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make
                a type specimen book. It has survived not only five centuries.
            </p>
        </section>
        <section class="one-third" id="customers">
            <h3>CUSTOMERS</h3>
            <p class="paragraphs">
                text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make
                a type specimen book.
                and more recently with desktop publishing
            </p>
        </section>
    </section>
    <!--end of one-third section-->
    <section id="smiley">
        <h2>:)</h2>
    </section>
    <footer class="footer-one">
        <ul class="social">
            <li>
                <h3>
                    <a href="https://www.facebook.com/sudhanshu.jain.503" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </h3>
            </li>
            <li>
                <h3>
                    <a href="https://www.linkedin.com/in/sudhanshu-j-4b792b108/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </h3>
            </li>
            <li>
                <h3>
                    <a href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </h3>
            </li>
        </ul>
    </footer>
    <!-- end first footer-->
    <footer class="footer-second">
        <p>&copy; Copyright 2017, Sudhanshu jain</p>
    </footer>
    <!-- end second footer-->